.git
.git/**
.gitignore

.env
.env.*
**/*.env
**/*.bak
**/*.bak-*
*.bak*
**/*.key
**/*.pem
**/*.p12
**/*.pfx
**/*.crt
**/*id_rsa*
**/.credentials
**/.credentials/**
**/credentials/
**/credentials/**
**/credential.json
**/credentials.json
secrets
secrets/**
**/secrets
**/secrets/**

**/node_modules
frontend/dist
tmp
**/tmp
**/*.test
**/*.out
**/*.log
**/*.tgz
/deploy
/preview
